<form method="post" action="{{ path('app_manager_delete', {'id': manager.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manager.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
