<form method="post" action="{{ path('app_application_delete', {'id': application.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ application.id) }}">
    <button class="btn"><i class="fa-solid fa-trash"></i></button>
</form>
